Parsing 'Link' headers

**[Moved from Codeplex: https://gw2dotnet.codeplex.com/workitem/1246]**

All services that support pagination also provide metadata for the current page through 'Link' headers. The format is insanely complicated though. See [RFC 5988, section 5](https://tools.ietf.org/html/rfc5988#section-5).
